<footer class="page-footer">
    <nav class="nav-extended" >
        <div class="nav-wrapper">
      
          <ul id="nav-mobile">
            <li><a routerLink="/login"><i class="material-icons">account_box</i><span>Clientes</span></a></li>
            <li><a routerLink="/login">Proyectos</a></li>
            <li><a routerLink="/login">Tareas</a></li>
            <li><a routerLink="/login">Horas</a></li>
          </ul>
    </div>
    </nav>
    <div class="container">
        
    </div>
    <div class="footer-copyright">
      <div class="container">
     VITECHD © {{date| date:'yyyy'}} Copyright
      </div>
    </div>
  </footer>
