<footer class="page-footer" *ngIf="isAuthenticated()">
  <div class="navbar-fixed">
    <nav  class="nav-extended">
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a routerLink="/login"><i class="material-icons left">assignment_ind</i><span>Clientes</span></a></li>
          <li class="tab"><a routerLink="/login"><i class="material-icons left">dashboard</i>Proyectos</a></li>
          <li class="tab"><a routerLink="/hours/create"><i class="material-icons left">event</i>Tareas</a></li>
          <li class="tab"><a routerLink="/hours/create"><i class="material-icons left">schedule</i>Horas</a></li>
        </ul>
      </div>
    </nav>
  </div>
</footer>