<!--The content below is only a placeholder and can be replaced.-->

  <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">VITECHD</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li routerLinkActive="active"><a routerLink="/login" >Iniciar</a></li>
        </ul>
      </div>
  </nav>
  <main>
      <div class="jumbotron">
          <div class="container">
            <div class="col-xs-offset-2 col-xs-8">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
  </main>
  
  

    
