body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
nav {
    background-color: #0aa4d2;
}
.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: ghostwhite;
}
.page-footer .footer-copyright {    color: rgb(10, 164, 210);}