body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  app-root{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
main {
    flex: 1 0 auto;
  }
nav {
    background-color: #0aa4d2;
}
.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: ghostwhite;
}
.page-footer .footer-copyright {    color: rgb(10, 164, 210);}
.docs-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}
.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}